{% block navigation %}
<nav id="navbar-custom" class="navbar navbar-default navbar-fixed-top">
    <div id="navbar-container" class="container-fluid">
        <div class="navbar-header">
            <a class="overlay-menu navbar-toggle collapsed trr-icon" style="float: left; left: 10px">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="material-icons">more_vert</i>
            </button>
            <span class="navbar-brand"><a href="{% url 'a_to_z' %}">The Right Rhymes</a></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="margin-bottom: -1px;">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="{% url 'random_entry' %}">
                        <i class="fa fa-bomb"></i><span class="collapse-only"> Random</span>
                    </a>
                </li>
                <li id="collapse-search">
                    <a class="overlay-menu nav-search-icon trr-icon"><span class="glyphicon glyphicon-search"></span><span class="collapse-only"> Search</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-bottom: 6px">
                    <a href="{% url 'stats' %}" class="trr-icon"><i class="fa fa-bar-chart-o"></i><span class="collapse-only"> Statistics</span></a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="trr-icon"><i class="fa fa-info"></i><span class="collapse-only"> About</span></a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}
