{% block navigation %}
<nav id="navbar-custom" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <span class="navbar-brand"><a href="/">The Right Rhymes</a></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <button id="overlay-menu" class="nav-search-icon">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'about' %}"><i class="fa fa-question"></i></a></li>
                <li><a href="{% url 'stats' %}"><i class="fa fa-bar-chart-o"></i></a></li>
                <li><a href="#"><i class="fa fa-cloud"></i></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}
