{% extends "dictionary/base.html" %}
{% block title %}About ⋅ {% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div>
                <div class="page-header" style="padding-top: .5em;">
                    <figure class="center-block">
                        <img src="/static/dictionary/img/header/skyline-mid-width-bw.png"
                          property="image"
                          scale="0"/>
                    </figure>
                    <div class="headword-image">About</div>
                </div>
                <div class="trr-list-header">The 411</div>
                <div style="margin-bottom: 5em; margin-top: 5em;">Some content here.</div>
                <div style="margin-bottom: 5em;">Yep, here too.</div>
                <div style="margin-bottom: 5em;">Even here.</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}