{% extends "dictionary/base.html" %}
{% block content %}
<div class="container">
{% if artist %}

    {% if primary_senses %}

    {% if primary_senses|length > 1 %}
    <h3 class="trr-list-header">{{ primary_senses|length }} senses cite <strong>{{ artist.name }}</strong> as a primary artist</h3>
    {% elif primary_senses|length == 1 %}
    <h3 class="trr-list-header">{{ primary_senses|length }} sense cites <strong>{{ artist.name }}</strong> as a primary artist</h3>
    {% endif %}

    <div class="trr-list">
        {% for sense in primary_senses %}
            {% if sense.examples %}
            <div class="trr-list-group-item">
               <div>
                  <strong>
                     <a href="{% url 'entry' sense.sense.slug %}">{{ sense.sense.headword }}</a>
                  </strong>
               </div>

            {% for example in sense.examples %}
                <div>
                    <span class="date">{{ example.release_date_string }}</span>
                    <span class="artist">{{ example.artist_name }}</span>
                    <span class="songTitle">"{{example.song_title}}"</span>
                    {% if example.feat_artist_name %}
                        <span class="feat">"{{example.feat_artist_name}}"</span>
                    {% endif %}
                    <span class="album">[{{example.album }}]</span>
                    <div class="lyric">{{ example.lyric_text }}</div>
                </div>
            {% endfor %}

            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if featured_senses %}

    {% if featured_senses|length > 1 %}
    <h3 class="trr-list-header">{{ featured_senses|length }} senses cite <strong>{{ artist.name }}</strong> as a featured artist</h3>
    {% elif featured_senses|length == 1 %}
    <h3 class="trr-list-header">{{ featured_senses|length }} sense cites <strong>{{ artist.name }}</strong> as a featured artist</h3>
    {% endif %}

    <div class="trr-list">
        {% for sense in featured_senses %}
            {% if sense.examples %}
            <div class="trr-list-group-item">
               <div>
                  <strong>
                     <a href="{% url 'entry' sense.sense.slug %}">{{ sense.sense.headword }}</a>
                  </strong>
               </div>
                {% for example in sense.examples %}
                <div>
                    <span class="date">{{ example.release_date_string }}</span>
                    <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{ example.artist_name }}</a></span>
                    <span class="songTitle">"{{example.song_title}}"</span>
                    {% if example.feat_artist_name %}
                        <span class="feat">"{{example.feat_artist_name}}"</span>
                    {% endif %}
                    <span class="album">[{{example.album }}]</span>
                    <div class="lyric">{{ example.lyric_text }}</div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if entity_senses %}

    {% if entity_senses|length > 1 %}
    <h3 class="trr-list-header">{{ entity_senses|length }} senses cite examples mentioning <strong>{{ artist.name }}</strong></h3>
    {% elif entity_senses|length == 1 %}
    <h3 class="trr-list-header">{{ entity_senses|length }} sense cites examples mentioning <strong>{{ artist.name }}</strong></h3>
    {% endif %}

    <div class="trr-list">
        {% for sense in entity_senses %}
            {% if sense.examples %}
                {% if sense.name != artist.name %}
                    <span class="altLabel">(as <strong>{{ sense.name }}</strong>)</span>
                {% endif %}
                <div class="trr-list-group-item">
                   <div>
                      <strong>
                          <a href="{% url 'entry' sense.sense.slug %}">{{ sense.sense.headword }}</a>
                      </strong>
                   </div>
                    {% for example in sense.examples %}
                    <div>
                        <span class="date">{{ example.release_date_string }}</span>
                        <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{ example.artist_name }}</a></span>
                        <span class="songTitle">"{{example.song_title}}"</span>
                        {% if example.feat_artist_name %}
                            <span class="feat">"{{example.feat_artist_name}}"</span>
                        {% endif %}
                        <span class="album">[{{example.album }}]</span>
                        <div class="lyric">{{ example.lyric_text }}</div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% endif %}


{% else %}
    <p>No artists here, yo.</p>
{% endif %}
</div>
{% endblock %}