{% extends "dictionary/base.html" %}
{% block title %}{{ artist }} ⋅ {% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div class="entry-content">
                {% if image %}
                <figure class="center-block">
                    <img src="{{ image }}"
                         alt="{{ artist }}"
                         property="image"
                         scale="0"/>
                </figure>
                <div class="headword-image">{{ artist }}</div>
                {% else %}
                <div class="headword">{{ artist }}</div>
                {% endif %}
            </div>
            {% csrf_token %}
            <div id="vis"></div>
        </div>
    </div>
</div>
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script>

    var tcBlack = "#130C0E";

    var w = window.innerWidth,
        h = window.innerHeight,
        maxNodeSize = 50,
        root;

    var vis;
    var force = d3.layout.force();

    vis = d3.select("#vis").append("svg").attr("width", w).attr("height", h);

    var endpoint = '/artists/{{slug}}/network_json/';

    $.getJSON(
            endpoint,
            {'csrfmiddlewaretoken': '{{csrf_token'},
            function (data) {
                var json = $.parseJSON(data);
                root = json;
                root.fixed = true;
                root.x = w / 2;
                root.y = h / 2;
                graph();

            }
    );

    function graph() {
        var nodes = flatten(root),
            links = d3.layout.tree().links(nodes);
        var defs = vis.insert("svg:defs")
                .attr("id", "mdefs");

        defs.data(["end"])
                .enter()
                .append("svg:path")
                .attr("d", "M0,-5L10,0L0,5");

        var patterns = defs.selectAll('pattern')
                .data(nodes)
                .enter()
                .append("svg:pattern")
                    .attr('id', function(d) {
                        return hashCode(d.name);
                    })
                    .attr("width", 2)
                    .attr("height", 2)
                    .attr("x", 0)
                    .attr("y", 0)
                    .append("svg:image")
                    .attr("xlink:href", function (d) {
                        return d.img;
                    })
                    .attr("width", function(d){
                        if (d.name === root.name) {
                            return 100
                        } else return Math.sqrt(Math.sqrt(d.size)) * 40;
                    })
                    .attr("height", function(d) {
                        if (d.name === root.name) {
                            return 100
                        } else return Math.sqrt(Math.sqrt(d.size)) * 40;
                    })
                    .attr("x", 0)
                    .attr("y", 0);



        function update() {

            // Restart the force layout.
            force.nodes(nodes)
                    .links(links)
                    .gravity(0.05)
                    .charge(-1500)
                    .linkDistance(function(d){
                        return Math.sqrt(d.target.size) * 35
                    })
                    .friction(0.5)
                    .linkStrength(function (l, i) {
                        return 1;
                    })
                    .size([w, h])
                    .on("tick", tick)
                    .start();

            var path = vis.selectAll("path.link")
                    .data(links, function (d) {
                        return d.target.id;
                    });

            path.enter().insert("svg:path")
                    .attr("class", "link")
                    .style("stroke", "#eee")
                    .style("fill", "transparent")        ;


            // Exit any old paths.
            path.exit().remove();


            // Update the nodes…
            var node = vis.selectAll("g.node")
                    .data(nodes, function (d) {
                        return d.id;
                    });


            // Enter any new nodes.
            var nodeEnter = node.enter().append("svg:g")
                    .attr("class", "node")
                    .attr("transform", function (d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    })
                    .on("click", click)
                    .call(force.drag);

            // Append a circle
            nodeEnter.append("svg:circle")
                    .attr("r", function (d) {
                        if (d.name === root.name) {
                            return 50
                        } else return Math.sqrt(Math.sqrt(d.size)) * 20;
                    })
                    .style("stroke", "black")     // displays small black dot
                    .style("stroke-width", 1)
                    .style("fill", function(d) {
                        var image = hashCode(d.name);
                        return "url(#" + image + ")";
                    })
                    .on('mouseenter', function () {
                        // select element in current context
                        d3.select(this)
                                .transition()
                                .attr("x", function (d) {
                                    return -60;
                                })
                                .attr("y", function (d) {
                                    return -60;
                                })
                                .attr("height", 100)
                                .attr("width", 100)
                                .style("stroke", "#3399FF")     // displays small black dot
                                .style("stroke-width", 3)
                                .style("opacity", 0.9);

                    })
                    // set back
                    .on('mouseleave', function () {
                        d3.select(this)
                                .transition()
                                .attr("x", function (d) {
                                    return -25;
                                })
                                .attr("y", function (d) {
                                    return -25;
                                })
                                .attr("height", 50)
                                .attr("width", 50)
                                .style("stroke", "black")     // displays small black dot
                                .style("stroke-width", 1)
                                .style("opacity", 1);

                    })
                    .on("mouseover", function(d){
                        tooltip.text(d.name);
                        return tooltip.style("visibility", "visible");
                    })
                    .on("mousemove", function(d){
                        return tooltip.style("top",
                            (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
                    })
                    .on("mouseout", function(d){
                        return tooltip.style("visibility", "hidden");
                    });

            var tooltip = d3.select("body")
                .append("div")
                .style("position", "absolute")
                .style("z-index", "10")
                .style("visibility", "hidden")
                .text("a simple tooltip");

            // Exit any old nodes.
            node.exit().remove();


            // Re-select for update.
            path = vis.selectAll("path.link");
            node = vis.selectAll("g.node");

            function tick() {


                path.attr("d", function (d) {

                    var dx = d.target.x - d.source.x,
                            dy = d.target.y - d.source.y,
                            dr = Math.sqrt(dx * dx + dy * dy);
                    return "M" + d.source.x + ","
                            + d.source.y
                            + "A" + dr + ","
                            + dr + " 0 0,1 "
                            + d.target.x + ","
                            + d.target.y;
                });
    //            node.attr("transform", nodeTransform);
                node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
            }
        }
        update();
    }

    /**
     * Gives the coordinates of the border for keeping the nodes inside a frame
     * http://bl.ocks.org/mbostock/1129492
     */
    function nodeTransform(d) {
        d.x = Math.max(maxNodeSize, Math.min(w - (d.imgwidth / 2 || 16), d.x));
        d.y = Math.max(maxNodeSize, Math.min(h - (d.imgheight / 2 || 16), d.y));
        return "translate(" + d.x + "," + d.y + ")";
    }

    /**
     * Toggle children on click.
     */
    function click(d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }

        update();
    }


    /**
     * Returns a list of all nodes under the root.
     */
    function flatten(root) {
        var nodes = [];
        var i = 0;

        function recurse(node) {
            if (node.children)
                node.children.forEach(recurse);
            if (!node.id)
                node.id = ++i;
            nodes.push(node);
        }

        recurse(root);
        return nodes;
    }

    var hashCode = function(s){
        return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
    }
</script>
{% endblock %}
