{% extends "dictionary/base.html" %}
{% block title %}{{ artist }} ⋅ {% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div class="entry-content">
                {% if image %}
                    <figure class="center-block">
                        <img src="{{ image }}"
                             alt="{{ artist }}"
                             property="image"
                             scale="0"/>
                    </figure>
                    <div class="headword-image">{{ artist }}</div>
                {% else %}
                    <div class="headword">{{ artist }}</div>
                {% endif %}

                {% if primary_senses %}

                    {% if primary_sense_count > 1 %}
                    <h3 class="trr-list-header">cited at {{ primary_sense_count }} senses as a <strong>primary artist</strong>, including:</h3>
                    {% elif primary_senses|length == 1 %}
                    <h3 class="trr-list-header">cited at {{ primary_sense_count }} sense as a <strong>primary artist</strong></h3>
                    {% endif %}

                    <div class="trr-list">
                        {% for sense in primary_senses %}
                            <div class="trr-list-group-item">
                                <div>
                                    <strong>
                                        <a href="{% url 'entry' sense.slug %}#{{sense.xml_id}}">{{ sense.headword }}</a>
                                    </strong>
                                </div>

                                    {% for example in sense.examples %}
                                    <div>
                                        <span class="date">{{ example.release_date_string }}</span>
                                        <!--<span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>-->
                                        <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                                        {% if example.featured_artists %}
                                        <span> feat. </span>
                                        {% for feat in example.featured_artists %}
                                        <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                        {% endif %}
                                        <span class="album">[{{example.album }}]</span>

                                        <div class="lyric">{{ example.linked_lyric|safe }}</div>
                                    </div>
                                    {% endfor %}

                            </div>
                        {% endfor %}

                    </div>

                {% endif %}

                {% if featured_senses %}
                    {% if featured_sense_count > 1 %}
                    <h3 class="trr-list-header">cited at {{ featured_sense_count }} senses as a <strong>featured artist</strong>, including:</h3>
                    {% elif featured_sense_count == 1 %}
                    <h3 class="trr-list-header">cited at {{ featured_sense_count }} sense as a <strong>featured artist</strong></h3>
                    {% endif %}

                    <div class="trr-list">
                        {% for sense in featured_senses %}
                            <div class="trr-list-group-item">
                                <div>
                                    <strong>
                                        <a href="{% url 'entry' sense.slug %}">{{ sense.headword }}</a>
                                    </strong>
                                </div>

                                    {% for example in sense.examples %}
                                    <div>
                                        <span class="date">{{ example.release_date_string }}</span>
                                        <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>
                                        <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                                        {% if example.featured_artists %}
                                        <span> feat. </span>
                                        {% for feat in example.featured_artists %}
                                        <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                        {% endif %}
                                        <span class="album">[{{example.album }}]</span>

                                        <div class="lyric">{{ example.linked_lyric|safe }}</div>
                                    </div>
                                    {% endfor %}

                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if entity_examples %}
                    <h3 class="trr-list-header">Mentioned by <strong>name</strong> in these lyrics</h3>
                    <div class="trr-list">
                    {% for example in entity_examples %}
                        <div class="trr-list-group-item">
                        {% ifchanged example.name %}
                            <h4>as "<i>{{ example.name }}</i>"</h4>
                        {% endifchanged %}
                            <div>
                                <span class="date">{{ example.example.release_date_string }}</span>
                                <span class="artist"><a href="{% url 'artist' example.example.artist_slug %}">{{ example.example.artist_name }}</a></span>
                                <span class="songTitle">"<a href="{% url 'song' example.example.song_slug %}">{{example.example.song_title}}</a>"</span>
                                 {% if example.example.featured_artists %}
                                    <span> feat. </span>
                                    {% for feat in example.example.featured_artists %}
                                        <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                    {% endfor %}
                                {% endif %}
                                <span class="album">[{{ example.example.album }}]</span>
                                <div class="lyric">{{ example.example.linked_lyric|safe }}</div>
                            </div>
                            </div>
                    {% endfor %}
                    </div>
                {% endif %}

                {% if longitude and latitude %}
                    <div class="map-canvas">
                        <p class="hidden artist-slug">{{ slug }}</p>
                        <p class="mapLabel">origin: <a href="{% url 'place' origin_slug %}">{{ origin }}</a></p>
                        <div id="map1" class="map"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}