<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} The Right Rhymes </title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'dictionary/icon/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/styles.css' %}">
</head>
<body id="top">
    {% include "dictionary/_navbar.html" %}

    {% block content %}
    {% endblock %}

    <div id="search-overlay" class="overlay overlay-data">
      <button type="button" class="overlay-close"><span class="glyphicon glyphicon-remove"></span></button>
      <nav>
        <ul>
          <li>{% include 'dictionary/_search.html' %}</li>
        </ul>
      </nav>
    </div>

    {% include "dictionary/_footer.html" %}

    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
        <!--<script src="{% static 'dictionary/js/search.js' %}"></script>-->
        <script src="{% static 'dictionary/js/google_maps.js' %}"></script>
        <script src="{% static 'dictionary/js/toggle.js' %}"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <script>
          $( "#overlay-menu" ).click(function() {
            $( ".overlay" ).addClass
            ('overlay-open');
            $('#navbar-custom').hide();
            $('#index-search-box').focus();
          });
        </script>
        <script>
        $( ".overlay-close" ).click(function() {
          $( "#search-overlay" ).removeClass
          ( 'overlay-open' );
            $('#navbar-custom').show();
          });
        </script>
    {% endblock %}

    {% block js %}{% endblock %}
</body>
</html>