<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} The Right Rhymes </title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'dictionary/icon/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/styles.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="site-header" role="navigation">
            <div id="header" class="container">
                <div class="navbar-header">
                    <hgroup id="header-title">
                        <h1 id="site-title"><a title="the Right Rhymes" rel="home" href="/">the Right Rhymes</a></h1>
                        <h2 id="site-description"><a title="Hip-Hop Slang Defined" rel="home" href="/">Hip-Hop Slang Defined</a></h2>
                    </hgroup>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul id="access" class="nav navbar-nav navbar-right">
                        <li><a href="/">About</a></li>
                        <li><a href="{% url 'stats' %}">Stats</a></li>
                        <li><a href="/">API</a></li>
                        <li>
                            <a href="http://facebook.com/theRightRhymes" title="Check out our Facebook page" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.twitter.com/theRightRhymes" title="theRightRhymes on Twitter" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <img id="header_image" src="{% static 'dictionary/img/header/skyline.png' %}" width="100%" height="100%">
        </div>

        {% include 'dictionary/search.html' %}

        {% if index %}
            {% include "dictionary/alphabet-listing.html" %}
        {% endif %}

        <div id="content-container">
            <div id="content" class="group">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer id="colophon" role="contentinfo">
            <div id="footer-content">
                <div id="site-generator">
                    <p>THE RIGHT RHYMES ⋅ HIP-HOP SLANG DEFINED ⋅ COPYRIGHT © 2016</p>
                    <p><a href="#site-header">You have reached the bottom. Click here to get back on top.</a></p>
                </div>
            </div>
        </footer>

    </div>

    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="{% static 'dictionary/js/google_maps.js' %}"></script>
    {% endblock %}

</body>
</html>