{% extends "dictionary/base.html" %}
{% block title %}{{ entry.headword }} ⋅ {% endblock %}
{% block content %}

<article id="{{ entry.headword }}" class="group post-container">
    <header class="entry-header">
        <h1 class="entry-title" property="name">meaning of <strong>{{ entry.headword }}</strong> in rap lyrics</h1>
    </header>

    <div class="container">
    {% if entry %}

        <div class="entry-content">
            {% if image %}
                <figure class="single-thumb">
                    <img src="/"
                      alt="{{ entry.headword }}"
                      property="image"
                      scale="0"/>
                </figure>
            {% endif %}
            <div class="headword">{{ entry.headword }}</div>
            {% for sense in senses %}
                <div id="{{ sense.xml_id }}" class="pos">{{ sense.sense.part_of_speech }} ⋅ {{ forloop.counter }}</div>
                <div class="definition">{{ sense.sense.definition }}</div>
                {% if sense.sense.notes %}
                    <div class="note">({{ sense.sense.notes }})</div>
                {% endif %}
                {% if sense.sense.etymology %}
                    <div class="etym">
                        <span class="xrlabel">Etymology:</span>
                        {{ sense.sense.etymology }}
                    </div>
                {% endif %}
                {% if sense.domains %}
                    <div class="domain">
                        <span class="xrlabel">Domains:</span>
                        {% for domain in sense.domains %}
                            {{ domain.name }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if sense.derivatives %}
                    <div class="xref">
                        <span class="xrlabel">Derivatives:</span>
                        {% for derivative in sense.derivatives %}
                            <span class="synonym">
                                {% if derivative.target_lemma in published_entries %}
                                    <a href="/{{ derivative.target_slug }}#{{derivative.target_id}}">{{ derivative.xref_word }}</a>
                                {% else %}
                                    {{ derivative.xref_word }}
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if sense.synonyms %}
                    <div class="xref">
                        <span class="xrlabel">Synonyms:</span>
                        {% for synonym in sense.synonyms %}
                            <span class="synonym">
                                {% if synonym.target_lemma in published_entries %}
                                    <a href="/{{ synonym.target_slug }}#{{synonym.target_id}}">{{ synonym.xref_word }}</a>
                                {% else %}
                                    {{ synonym.xref_word }}
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if sense.examples %}
                    <ul class="examplesHead">
                    {% for example in sense.examples %}
                        <li>
                            <span class="date">{{ example.release_date_string }}</span>
                            <span class="artist"><a href="/artists/{{ example.artist_slug }}">{{example.artist_name}}</a></span>
                            <span class="songTitle">"{{example.song_title}}"</span>
                            {% if example.feat_artist_name %}
                                <span class="feat">"{{example.feat_artist_name}}"</span>
                            {% endif %}
                            <span class="album">[{{example.album }}]</span>
                            <div class="lyric">{{ example.lyric_text }}</div>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>This is not the entry you're looking for.</p>
    {% endif %}
    </div>
</article>
</div>
</div>
{% endblock %}