<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %}{% endblock %} The Right Rhymes </title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'dictionary/icon/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/index.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="logo-wrapper" class="container">
                <div id="logo">
                    <hgroup id="logo-title">
                        <h1 id="site-title"><a title="the Right Rhymes" rel="home" href="/">the Right Rhymes</a></h1>
                        <h2 id="site-description"><a title="Hip-Hop Slang Defined" rel="home" href="/">Hip-Hop Slang Defined</a></h2>
                    </hgroup>
                </div>
            </div>

            {% include 'dictionary/_search.html' %}

        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static 'dictionary/js/search_param.js' %}"></script>

    </body>
</html>