{% extends "dictionary/base.html" %}
{% block content %}
<div class="container">
    {% for entity in entities %}

    {% if entity.senses|length > 1 %}
    <h3 class="trr-list-header">
        {{ entity.senses|length }} senses cite examples mentioning <strong>{{ entity.entity.name }}</strong>
        {% if entity.entity.name != entity.entity.pref_label %}
            <span>(a.k.a. <strong>{{ entity.pref_label }}</strong>)</span>
        {% endif %}
    </h3>
    {% elif entity.senses|length == 1 %}
    <h3 class="trr-list-header">
        {{ entity.senses|length }} sense cites an example mentioning <strong>{{ entity.entity.name }}</strong>
        {% if entity.entity.name != entity.entity.pref_label %}
            <span>(a.k.a. <strong>{{ entity.entity.pref_label }}</strong>)</span>
        {% endif %}
    </h3>
    {% endif %}

    <div class="trr-list">
        {% for sense in entity.senses %}
            {% if sense.examples %}
            <div class="trr-list-group-item">
               <div>
                  <strong>
                     <a href="{% url 'entry' sense.sense.slug %}">{{ sense.sense.headword }}</a>
                  </strong>
               </div>

            {% for example in sense.examples %}
                <div>
                    <span class="date">{{ example.release_date_string }}</span>
                    <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{ example.artist_name }}</a></span>
                    <span class="songTitle">"{{example.song_title}}"</span>
                    {% if example.feat_artist_name %}
                        <span class="feat">"{{example.feat_artist_name}}"</span>
                    {% endif %}
                    <span class="album">[{{example.album }}]</span>
                    <div class="lyric">{{ example.lyric_text }}</div>
                </div>
            {% endfor %}

            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}