{% extends "dictionary/base.html" %}
{% block title %}{{ place.name }} ⋅ {% endblock %}
{% block content %}
<div class="container">
    <div class="map-canvas">
        <p class="mapLabel location">{{ place.name }}</p>
        <div class="map"></div>
    </div>

    {% for artist in artists %}
    <a href="{% url 'artist' artist.artist.slug %}">
        <div class="artist">{{artist.artist.name}}</div>
        {% if artist.image %}
        <figure class="single-thumb">
            <img src="{{ artist.image }}"
                 alt="{{ artist.name }}"
                 property="image"
                 scale="0"/>
        </figure>
    </a>
    {% endif %}

    {% endfor %}
</div>
{% endblock %}