{% extends "dictionary/base.html" %}
{% block title %}{{ place }} ⋅ {% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div class="entry-content">
                {% if image %}
                    <figure class="center-block">
                        <img src="{{ image }}"
                          alt="{{ place }}"
                          property="image"
                          scale="0"/>
                    </figure>
                    <div class="headword-image">{{ place }}</div>
                {% else %}
                    <div class="headword">{{ place }}</div>
                {% endif %}

                {% if examples %}
                    {% if num_examples > 1 %}
                    <h3 class="trr-list-header">mentioned in {{ num_examples }} examples</h3>
                    {% elif num_examples == 1 %}
                    <h3 class="trr-list-header">mentioned in {{ num_examples }} example</h3>
                    {% endif %}
                    <ul class="examplesHead">
                        {% for example in examples %}
                        <li>
                            <span class="date">{{ example.release_date_string }}</span>
                            <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>
                            <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                            {% if example.featured_artists %}
                            <span> feat. </span>
                            {% for feat in example.featured_artists %}
                            <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                            {% endfor %}
                            {% endif %}
                            <span class="album">[{{example.album }}]</span>
                            <div class="lyric">{{ example.linked_lyric|safe }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if num_examples > 3 %}
                    <div class="toggle_exx">
                        <a href="#" class="toggle_more_exx">
                            Show {{ num_examples|add:"-3" }} more {% if num_examples == 4 %} example {% else %} examples {% endif %}
                        </a>
                        <span class="place_example_slug hidden">{{slug}}</span>
                        <div class="loading">
                            <img src="/static/dictionary/img/loading/breakdance.gif" width="5%" height="5%"></img>
                        </div>
                    </div>
                    <ul class="examples">

                    </ul>
                {% endif %}
                {% csrf_token %}

                {% if num_artists and artists_with_image %}
                    {% if num_artists == 1 %}
                        <h3 class="trr-list-header">{{ num_artists }} artist from <strong>{{ place }}</strong>:</h3>
                    {% else %}
                        <h3 class="trr-list-header">{{ num_artists }} artists from <strong>{{ place }}</strong> including:</h3>
                    {% endif %}
                    <div class="artists-block">
                        {% for artist in artists_with_image %}
                            <a href="{% url 'artist' artist.slug %}">
                                {% if artist.image %}
                                    <figure class="single-thumb">
                                        <img src="{{ artist.image }}"
                                             alt="{{ artist.name }}"
                                             property="image"
                                             scale="0"
                                             width="200"
                                             height="200"/>
                                        <figcaption>{{artist.name}}</figcaption>
                                    </figure>
                                {% endif %}
                            </a>
                        {% endfor %}

                        <img class="force-justify" src="/static/dictionary/img/artists/thumb/__none.png"/>
                    </div>
                    {% if remaining_count > 0 %}
                        <div class="toggle_exx">
                            <a href="#" class="toggle_more_exx">
                                Show {{ remaining_count }} more
                            </a>
                            <span class="place_slug hidden">{{slug}}</span>
                            <div class="loading">
                                <img src="/static/dictionary/img/loading/breakdance.gif" width="5%" height="5%"></img>
                            </div>
                        </div>
                        <ul class="artists-block examples">


                        </ul>
                    {% endif %}
                    {% csrf_token %}

                {% endif %}
                {% if artists_without_image %}
                    <div class="not-pictured"><strong>Not pictured:</strong>
                        {% for artist in artists_without_image %}
                           <span><a href="{% url 'artist' artist.slug %}">{{ artist.name }}</a>{% if not forloop.last %}, {% endif %}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if num_artists < 1 %}
                    <h3 class="trr-list-header">No artists from <strong>{{ place }}</strong></h3>
                {% endif %}

                {% if within %}
                    <div><strong>{{ place }} is within:</strong>
                        <table class="table">
                            <tr><td><a href="{% url 'place' within.slug %}">{{within.name}}</a></td></tr>
                        </table>
                    </div>
                {% endif %}

                {% if contains %}
                    <div><strong>{{ place }} contains:</strong>
                        <table class="table">
                        {% for contained in contains %}
                            <tr><td><a href="{% url 'place' contained.slug %}">{{contained.name}}</a></td></tr>
                        {% endfor %}
                        </table>
                    </div>
                {% endif %}


                <div class="map-canvas">
                    <p class="hidden place-slug">{{ slug }}</p>
                    <p class="mapLabel">{{ place_name_full }}</p>
                    <div id="map1" class="map" width="50%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}