{% extends "dictionary/base.html" %}
{% block title %}{{ semantic_class }} ⋅ {% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div class="entry-content">
                {% if image %}
                    <figure class="center-block">
                        <img src="{{ image }}"
                          alt="{{ semantic_class }}"
                          property="image"
                          scale="0"/>
                    </figure>
                    <div class="headword-image">{{ semantic_class }}</div>
                {% else %}
                    <div class="headword">{{ semantic_class }}</div>
                {% endif %}
                {% if sense_count %}
                    {% if sense_count > 1 %}
                    <h3 class="trr-list-header">{{ sense_count }} senses in the category <strong>{{ semantic_class }}</strong></h3>
                    {% elif sense_count == 1 %}
                    <h3 class="trr-list-header">{{ sense_count }} sense in the category <strong>{{ semantic_class }}</strong></h3>
                    {% endif %}
                {% endif %}
            </div>
            {% csrf_token %}
            <div id="cloud" style="font-weight: 800"></div>
        </div>
    </div>
</div>
    {% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="/static/dictionary/js/word_cloud.min.js"></script>
<script>
var r = ["#3399ff",
        "#47a3ff",
        "#5badff",
        "#70b7ff",
        "#84c1ff",
        "#99ccff",
        "#add6ff",
        "#2d89e5",
        "#287acc",
        "#236bb2",
        "#1e5b99",
        "#194c7f"];

var fill = d3.scale.ordinal().range(r);

var w = window.innerWidth,
    h = window.innerHeight;

var endpoint = '/data/semantic-classes/{{slug}}/';
$.getJSON(
        endpoint,
        {'csrfmiddlewaretoken': '{{csrf_token}}'},
        function(data) {
            var children = data.children;
            var scaleMin = d3.min(children, function(d) { return d.weight });
            var scaleMax = d3.max(children, function(d) { return d.weight });
            var weightScale = d3.scale.linear()
                .domain([scaleMin, scaleMax])
                .range([30, 200]);
            d3.layout.cloud().size([w, h])
                    .words(children.map(function (d) {
                        return {
                            url: d.url,
                            text: d.word,
                            size: weightScale(d.weight)
                        };
                    }))
                    .padding(5)
                    .rotate(function () {
                        return ~~(Math.random() * 2) * 90;
                    })
                    .font("Impact")
                    .fontSize(function (d) {
                        return d.size;
                    })
                    .on("end", draw)
                    .start();
                }
);

function draw(words) {
    d3.select("#cloud").append("svg")
            .attr("width", w)
            .attr("height", h)
            .append("g")
            .attr("transform", "translate(" + [w >> 1, h >> 1] + ")")
            .selectAll("text")
            .data(words)
            .enter().append("a")
            .attr("xlink:href", function(d) {
                return d.url
            })
            .append("text")
            .style("font-size", function (d) {
                return d.size + "px";
            })
            .style("font-family", "Impact")
            .style("cursor", "pointer")
            .style("fill", function (d, i) {
                return fill(i);
            })
            .attr("text-anchor", "middle")
            .attr("transform", function (d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function (d) {
                return d.text;
            });
}

function drawUpdate(words) {
    d3.layout.cloud().size([w, h])
            .words(words)
            .padding(5)
            .rotate(function () {
                return ~~(Math.random() * 2) * 90;
            })
            .font("Impact")
            .fontSize(function (d) {
                return d.size;
            })
            .start();


    d3.select("svg")
            .selectAll("g")
            .attr("transform", "translate(" + [w >> 1, h >> 1] + ")")
            .selectAll("text")
            .data(words).enter().append("text")
            .style("font-size", function (d) {
                return d.size + "px";
            })
            .style("font-family", "Impact")
            .style("fill", function (d, i) {
                return fill(i);
            })

            .attr("transform", function (d) {

                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function (d) {
                return d.text;
            });


}



</script>
{% endblock %}
