{% extends "dictionary/base.html" %}
{% block title %}{{ title }} ⋅ {% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div class="entry-content">
                    <div>
                        <figure class="center-block">
                            <img src="/static/dictionary/img/header/graffiti.jpg"
                              property="image"
                              scale="0"/>
                        </figure>
                        <h1 class="song-title-header">{{ title }}</h1>
                        <h2 class="song-artist-header"><a href="{% url 'artist' artist_slug %}">{{ artist_name }}</a> ⋅ {{ release_date_string }}</h2>
                    </div>

                    {% if examples|length == 1 %}
                    <div class="trr-list-header">{{examples|length}} example found</div>
                    {% else %}
                    <div class="trr-list-header">{{examples|length}} examples found</div>
                    {% endif %}

                    <div class="lyrics">
                    {% for example in examples %}
                        <div>
                            <i class="fa fa-quote-left"></i>
                            <div class="lyric-list"> {{ example.linked_lyric|safe }}</div>
                        </div>
                    {% endfor %}
                    </div>

                    <div class="trr-list-header">Primary artist</div>
                    <div class="artists-block">
                        {% for artist in primary_artist %}
                            <a href="{% url 'artist' artist.slug %}">
                                {% if artist.image %}
                                    <figure class="single-thumb">
                                        <img src="{{ artist.image }}"
                                             alt="{{ artist.name }}"
                                             property="image"
                                             scale="0"
                                             width="200"
                                             height="200"/>
                                        <figcaption>{{artist.name}}</figcaption>
                                    </figure>
                                {% endif %}
                            </a>
                        {% endfor %}
                        <img class="force-justify" src="/static/dictionary/img/artists/thumb/__none.png"/>
                    </div>

                    {% if featured_artists %}

                        {% if featured_artists|length == 1 %}
                        <div class="trr-list-header">Featured artist</div>
                        {% else %}
                        <div class="trr-list-header">Featured artists</div>
                        {% endif %}
                        <div class="artists-block">
                            {% for artist in featured_artists %}
                                <a href="{% url 'artist' artist.slug %}">
                                    {% if artist.image %}
                                        <figure class="single-thumb">
                                            <img src="{{ artist.image }}"
                                                 alt="{{ artist.name }}"
                                                 property="image"
                                                 scale="0"
                                                 width="200"
                                                 height="200"/>
                                            <figcaption>{{artist.name}}</figcaption>
                                        </figure>
                                    {% endif %}
                                </a>
                            {% endfor %}
                            <img class="force-justify" src="/static/dictionary/img/artists/thumb/__none.png"/>
                        </div>
                    {% endif %}

                {% if same_dates %}
                    {% if same_dates|length == 1 %}
                    <div class="trr-list-header">Currently citing {{same_dates|length}} other song released on <strong>{{release_date}}</strong></div>
                    {% else %}
                    <div class="trr-list-header">Currently citing {{same_dates|length}} other songs released on <strong>{{release_date}}</strong></div>
                    {% endif %}
                    <table class="table">
                    {% for s in same_dates %}
                        <tr>
                            <td>
                            <span class="artist"><a href="{% url 'artist' s.artist_slug %}">{{s.artist_name}}</a></span>
                            <span class="songTitle"> "<a href="{% url 'song' s.slug %}">{{s.title}}</a>"</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}

            </div>
        </div>
    </div>
</div>



{% endblock %}