{% extends "dictionary/base.html" %}
{% block title %}{{ title }} ⋅ {% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div class="entry-content">
                {% if image %}
                <figure class="center-block">
                    <img src="{{ image }}"
                         alt="{{ artist }}"
                         property="image"
                         scale="0"/>
                </figure>
                <div class="headword-image">{{ title }}</div>
                {% else %}
                    <div class="headword">{{ title }}</div>
                {% endif %}

                {% for example in examples %}
                    <div>
                        <span class="date">{{ example.release_date_string }}</span>
                        <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>
                        <span class="songTitle">"{{example.song_title}}"</span>
                        {% if example.featured_artists %}
                        <span> feat. </span>
                        {% for feat in example.featured_artists %}
                        <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                        {% endfor %}
                        {% endif %}
                        <span class="album">[{{example.album }}]</span>
                        <div class="lyric">{{ example.linked_lyric|safe }}</div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>



{% endblock %}