{% extends "dictionary/base.html" %}
{% block title %}Statistics ⋅ {% endblock %}
{% block js %}


{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div class="entry-content">
                    <figure class="center-block">
                        <img src="/static/dictionary/img/header/statistics.jpg"
                          property="image"
                          scale="0"/>
                    </figure>
                    <div class="headword-image">statistics</div>

                <div class="trr-list-header">Overall Totals</div>
                <ul class="counts">
                    <li class="entry-count"><strong>{{num_entries}}</strong> entries</li>
                    <li class="sense-count"><strong>{{num_senses}}</strong> senses</li>
                    <li class="example-count"><strong>{{num_examples}}</strong> examples</li>
                </ul>
                <div class="trr-list-header">Best attested senses</div>
                <table class="table">
                    <th colspan="1">Headword</th><th colspan="1"># Examples</th>
                    {% for sense in best_attested_senses %}
                    <tr>
                        <td class="col-md-1"><a href="{% url 'entry' sense.slug %}#{{sense.anchor}}">{{sense.headword}}</a></td>
                        <td class="col-md-1"><span class="counter-bar" style="width:{{sense.width}}%">{{sense.num_examples}}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="trr-list-header">Best attested domains</div>
                <table class="table">
                    <th colspan="1">Domain</th><th colspan="1"># Senses</th>
                    {% for domain in best_attested_domains %}
                    <tr>
                        <td class="col-md-1"><a href="{% url 'domain' domain.slug %}">{{domain.name}}</a></td>
                        <td class="col-md-1"><span class="counter-bar" style="width:{{domain.width}}%">{{domain.num_senses}}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="trr-list-header">Most cited songs</div>
                <table class="table">
                    <th colspan="1">Song</th><th colspan="1"># Examples</th>
                    {% for song in most_cited_songs %}
                    <tr>
                        <td class="col-md-1">
                            <span class="artist"><a href="{% url 'artist' song.artist_slug %}">{{song.artist_name}}</a></span>
                            <span class="songTitle"> "<a href="{% url 'song' song.slug %}">{{song.title}}</a>"</span>
                        </td>
                        <td class="col-md-1"><span class="counter-bar" style="width:{{song.width}}%">{{song.num_examples}}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="trr-list-header">Best represented places</div>
                <table class="table">
                    <th colspan="1">Location</th><th colspan="1"># Artists from there</th>
                    {% for place in best_represented_places %}
                    <tr>
                        <td class="col-md-1"><a href="{%url 'place' place.slug %}">{{place.name}}</a></td>
                        <td class="col-md-1"><span class="counter-bar" style="width:{{place.width}}%">{{place.num_artists}}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="trr-list-header">Most shouted-out places</div>
                <table class="table">
                    <th colspan="1">Name</th><th colspan="1"># Shout-outs</th>
                    {% for e in most_mentioned_places %}
                    <tr>
                        <td class="col-md-1"><a href="{%url 'place' e.slug %}">{{e.name}}</a></td>
                        <td class="col-md-1"><span class="counter-bar" style="width:{{e.width}}%">{{e.num_examples}}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="trr-list-header">Most shouted-out artists</div>
                <table class="table">
                    <th colspan="1">Name</th><th colspan="1"># Shout-outs</th>
                    {% for e in most_mentioned_artists %}
                    <tr>
                        <td class="col-md-1"><a href="{%url 'artist' e.slug %}">{{e.pref_label}}</a></td>
                        <td class="col-md-1"><span class="counter-bar" style="width:{{e.width}}%">{{e.num_examples}}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="trr-list-header">Number of examples by decade</div>
                <table class="table">
                    <tr><td class="col-md-1">1970's</td><td class="col-md-1"><span class="counter-bar" style="width:{{seventies_width}}%">{{ num_seventies }}</span></td></tr>
                    <tr><td>1980's</td><td><span class="counter-bar" style="width:{{eighties_width}}%">{{ num_eighties }}</span></td></tr>
                    <tr><td>1990's</td><td><span class="counter-bar" style="width:{{nineties_width}}%">{{ num_nineties }}</span></td></tr>
                    <tr><td>2000's</td><td><span class="counter-bar" style="width:{{noughties_width}}%">{{ num_noughties }}</span></td></tr>
                    <tr><td>2010's</td><td><span class="counter-bar" style="width:{{twenty_tens_width}}%">{{ num_twenty_tens }}</span></td></tr>
                </table>

                <div class="trr-list-header">Earliest examples</div>
                <table class="table">
                    {% for example in earliest_date.example %}
                        <tr>
                            <td>
                            <span class="date">{{ example.release_date_string }}</span>
                            <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>
                            <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                                {% if example.featured_artists %}
                                <span> feat. </span>
                                {% for feat in example.featured_artists %}
                                    <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                {% endfor %}
                            {% endif %}
                            <span class="album">[{{example.album }}]</span>
                            <div class="lyric">{{ example.linked_lyric|safe }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <table class="table">
                    <div class="trr-list-header">Most recent examples</div>
                        {% for example in latest_date.example %}
                            <tr>
                                <td>
                                <span class="date">{{ example.release_date_string }}</span>
                                <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>
                                <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                                {% if example.featured_artists %}
                                    <span> feat. </span>
                                    {% for feat in example.featured_artists %}
                                        <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                    {% endfor %}
                                {% endif %}
                                <span class="album">[{{example.album }}]</span>
                                <div class="lyric">{{ example.linked_lyric|safe }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
                    <div class="trr-list-header">Most cited example</div>
                    <ul class="examplesHead" style="margin-bottom: 1.5em;">
                        {% for example in most_linked_example.example %}
                            <li>
                                <span class="date">{{ example.release_date_string }}</span>
                                <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>
                                <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                                {% if example.featured_artists %}
                                    <span> feat. </span>
                                    {% for feat in example.featured_artists %}
                                        <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                    {% endfor %}
                                {% endif %}
                                <span class="album">[{{example.album }}]</span>
                                <div class="lyric">{{ example.linked_lyric|safe }}</div>
                                <div style="margin-top: .75em; font-size: .85em;">(Cited at {{ most_linked_example.count }} senses)</div>
                            </li>
                        {% endfor %}
                    </ul>

                <div>
                    <div class="trr-list-header">Most cited artists</div>
                    <div class="artists-block">
                        {% for artist in most_cited_artists %}
                            <a href="{% url 'artist' artist.artist.slug %}">
                                {% if artist.artist.image %}
                                    <figure class="single-thumb">
                                        <img src="{{ artist.artist.image }}"
                                             alt="{{ artist.artist.name }}"
                                             property="image"
                                             scale="0"
                                             width="200"
                                             height="200"/>
                                        <figcaption>{{artist.artist.name}}: {{ artist.count }}</figcaption>
                                    </figure>
                                {% endif %}
                            </a>
                        {% endfor %}
                        <img class="force-justify" src="/static/dictionary/img/artists/thumb/__none.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}