#alphabet-listing section:first-child:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#alphabet-listing {
	float: none;
	margin: 0 14px 0 0;
	width: 100%;	
	/*position: -webkit-sticky;
	top: 0; 
	z-index: 1;*/
}

#alphabet-listing section {
    background-color: #000000;
    margin-top: -32px;
    margin-bottom: 32px;
    padding: 48px 12px 12px 12px;
}

#alphabet-listing section h1 {
    color: #FFFFFF;
    font-size: 1.34em; /* 16px */
    margin-bottom: .5em;
    text-shadow: 0 1px 1px #fff;
}

#alphabet-listing section h2 {
    margin: 0;
}

#alphabet-listing section:first-child h1 {
    /*border-bottom: 1px solid #dfdfdf;*/
    padding-bottom: .5em;
}
#alphabet-listing section ul {
    margin: 0;
}

#alphabet-listing section ul li {
    background: none;
    /*border-top: 1px solid #dfdfdf;*/
    padding: .3em 0;
}
#alphabet-listing section li img {
    margin-right: 3px;
    vertical-align: middle;
    }
				
/* Index */
#alphabet-listing section:first-child ol {
	background-color: black;
	/*border-left: 1px solid #dfdfdf;*/
	float: left;
	list-style: none;
	margin: 0;
	padding-left: 10px;
}

#alphabet-listing section:first-child ol li {
    background: #fff url("../img/header/az-index.png") repeat-x 0 100%;
    /*border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;*/
    float: left;
    padding: 0;
    position: relative;
    width: 37px;
    z-index: 1;
    list-style: none;

}
#alphabet-listing section:first-child ol li:hover,
#alphabet-listing section:first-child ol li:focus {
    z-index: 20;
}

#alphabet-listing section:first-child ol li a {
    color: #F0F0F0;  /* to change color of a-z */
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    padding: .2em 0;
    text-align: center;
}

#alphabet-listing section:first-child ol li:hover a,
#alphabet-listing section:first-child ol li:focus a {
    color: #FFFFFF;
    background-color: black;
    text-decoration: none;
    /*text-shadow: 0 1px 0 #fff;*/
}

/* Popup */
#alphabet-listing section:first-child ol div {
    /*background: url("../images/bg-az-index-pop.png") no-repeat 0 0;*/
    display: none;
    padding-top: 8px;
    position: absolute;
    left: -25px;
    top: 1.3em;
    width: 550%;
    z-index: 2000;
}

#alphabet-listing section:first-child ol li:hover div,
#alphabet-listing section:first-child ol li:focus div {
    display:block;
}

#alphabet-listing section:first-child ol ul {
    background: #101010;
    /*border: solid #bbbb80;
    border-width: 0 1px 1px;*/
    border-radius: 2px;
    font-size: .86em;
    margin: 0;
    padding: 10px 15px;
    -moz-box-shadow: 1px 1px 1px #999999;
    -webkit-box-shadow: 1px 1px 1px #999999;
    box-shadow: 1px 1px 1px #999999;
    /*height:70px;*/
    overflow-x:hidden;
}

#alphabet-listing section:first-child ol ul li {
    background: none;
    border: none;
    float: none;
    padding: .3em 0;
    width: 166px;
}

#alphabet-listing section:first-child ol li:hover ul a,
#alphabet-listing section:first-child ol li:focus ul a,
#alphabet-listing section:first-child ol ul a {
    background: none;
    color: #C8C8C8;
    display: inline;
    font-weight: normal;
    text-shadow: none;
}

#alphabet-listing section:first-child ol ul a:hover,
#alphabet-listing section:first-child ol ul a:focus {
    text-decoration: underline;
}
		
@media only screen
and (min-width : 720px) and (max-width : 1039px) {

	#alphabet-listing section:first-child ol div {
		width: 650%;
	}

	#alphabet-listing section:first-child ol li {
		width: 25px;
	}

}

@media only screen
and (max-width : 719px ) {
	#alphabet-listing section {
		padding: 10px 0 10px 0;
	}

	#alphabet-listing section:first-child ol li {
		width: 22px;
	}
}