@import url("alphabet-listing.css");

/* 'Open Sans' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600);

/* 'Open Sans Condensed' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);

/* 'Rock Salt' */
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

html {
   min-height: 100%;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	background-color: #3399FF;
    background-image: url(../img/header/skyline.png);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;

}


#site-title, #site-description {
    color: #fff;
    text-decoration: none;
	z-index: 10;
}

#site-title {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rock Salt', cursive;
}

#site-title a, #site-description a {
    color: inherit;
    text-decoration: inherit;
}

#site-description {
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
}